.padre{
    padding: 5px;
    background-color:azure;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    /*grid-template-rows: 5% 5% 85% 5%;*/
    grid-template-areas:
     "header header header "
     "nav nav nav"
     "cont1 cont2 cont3"
     "foot foot foot"
    ;
    grid-gap: 15px;
}
.padre .header{
    grid-area: header;

}
.padre .nav{
    grid-area: nav;
    
}
.padre .cont1{
    grid-area: cont1;
    
}
.padre .cont2{
    grid-area: cont2;
    
}
.padre .cont3{
    grid-area: cont3;
    
}
.padre .foot{
    grid-area: foot;
    
}
h1 ,p{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    text-transform: uppercase;
    padding: 5px;
}
.hijo{
    background-color:black;
    text-align: center;
    width: 100%;
}
@media screen and (max-width: 765px) {
    .padre{
    background-color:grey;
    grid-template-areas:
     "header header header "
     "nav nav nav"
     "cont1 cont1 cont1"
     "cont2 cont2 cont2"
     "cont3 cont3 cont3"
     "foot foot foot"
    ;
    }
}